body{
	margin-left: 10%;
	margin-right: 10%;
}
#stats{
	width : 20%;
	border: 1px solid black;
}

.title{
	text-align: center;
}


#signup_container{
	width : 30%;
	text-align: center;
	margin: 0 auto;
	border :1px solid black;
	padding: 10px 0;
}
